.bg-container {
  min-height: 100vh;
  background-size: cover;
  background: linear-gradient(to bottom, #94a3b8, #9ba9eb, #ffffff);
  display: flex;
  flex-direction: column;
  font-family: roboto;
}
.home-container {
  align-self: center;
  width: 90%;
  margin-top: 10px;
}

.app-logo {
  height: 45px;
  margin-bottom: 10px;
}
