.yourPass-card-container {
  background-color: #5763a5;
  height: 43vh;
  border-radius: 8px;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  overflow: auto;
}

.count {
  border: solid 1px #ffffff;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 18px;
}

.password-title {
  color: #ffffff;
  font-weight: 400;
}

.yourPass-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #ffffff;
  height: 50px;
}
.input-enter-container {
  display: flex;
  border: solid 1px #ffffff;
  height: 31px;
  width: 250px;
}
.search-logo-container {
  display: flex;
  justify-content: center;
  border-right: solid 1px darkgrey;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
}
.input-search-logo {
  height: 20px;
  align-self: center;
}
.style-input {
  border: solid 0px;
  outline: none;
  width: 100%;
}
.checkbox-container {
  display: flex;
  justify-content: flex-end;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.checkbox-style {
  width: 20px;
  height: 20px;
}
.show-pass {
  color: #ffffff;
}
.display-password-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
